* {
    --clr-white: gainsboro;
    --clr-light-gray: darkgray;
    --clr-medium-gray: gray;
    --clr-dark-gray: dimgray;
    --clr-red: indianred;
    --clr-green: seagreen;
    --clr-blue: lightsteelblue;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--clr-white);
}

main {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.1rem;
}

.cell {
    aspect-ratio: 1;
    height: 2rem;
    border: 1px solid var(--clr-light-gray);

    &:hover {
        cursor: crosshair;
        border-color: var(--clr-dark-gray);
    }

    &--attacked {
        border-color: var(--clr-red);
        background-color: var(--clr-red);

        &:hover {
            cursor: default;
            border-color: transparent;
        }
    }

    &--inactive {
        opacity: .6;

        &:hover {
            cursor: default;
            border-color: var(--clr-gray);
        }
    }
}

.ship {
    &--player {
        border-color: var(--clr-green);
        background-color: var(--clr-green);
    }

    &--sunk {
        border-color: var(--clr-medium-gray);
        background-color: var(--clr-medium-gray);
    }
}

.cell--attacked.ship--player {
    border-color: var(--clr-red);
    background-color: var(--clr-red);
}

.ship--player.ship--sunk {
    border-color: var(--clr-medium-gray);
    background-color: var(--clr-medium-gray);
}

.water {
    border-color: var(--clr-blue);
    background-color: var(--clr-blue);

    &:hover {
        cursor: default;
        border-color: transparent;
    }
}