* {
    --clr-white: white;
    --clr-almost-white: whitesmoke;
    --clr-light-gray: silver;
    --clr-medium-gray: darkgray;
    --clr-dark-gray: dimgray;
    --clr-red: indianred;
    --clr-green: seagreen;
    --clr-blue: lightsteelblue;

    --opacity: .75;

    font-family: sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--clr-almost-white);
}

main {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.display {
    border: 1px solid var(--clr-medium-gray);
    border-radius: .5rem;
    padding: 1rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    color: var(--clr-dark-gray);
    background-color: var(--clr-white);

    &--won {
        color: var(--clr-almost-white);
        background-color: var(--clr-green);
    }

    &--lost {
        color: var(--clr-almost-white);
        background-color: var(--clr-red);
    }
}

.game-state {
    font-size: 1.5rem;
}

.boards {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media only screen and (min-width: 60rem) {
        margin: calc(max(3rem, 7.5vh));
        flex-direction: row;
        gap: calc(max(5rem, 7.5vw));
    }
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--clr-dark-gray);
    gap: 2rem;

    &__name {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.1rem;
}

.cell {
    aspect-ratio: 1;
    height: 2rem;
    border: 1px solid var(--clr-medium-gray);

    &:hover {
        cursor: crosshair;
        border-color: var(--clr-dark-gray);
    }

    &--player {
        border-color: var(--clr-green);
        background-color: var(--clr-green);
    }

    &--attacked {
        border-color: var(--clr-red);
        background-color: var(--clr-red);

        &:hover {
            cursor: default;
            border-color: transparent;
        }
    }

    &--sunk {
        border-color: var(--clr-medium-gray);
        background-color: var(--clr-medium-gray);
    }
}

.cell--attacked.cell--player {
    border-color: var(--clr-red);
    background-color: var(--clr-red);
}

.cell--player.cell--sunk {
    border-color: var(--clr-medium-gray);
    background-color: var(--clr-medium-gray);
}

.water {
    border-color: var(--clr-blue);
    background-color: var(--clr-blue);

    &:hover {
        cursor: default;
        border-color: transparent;
    }
}

.ships {
    max-width: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem .5rem;
}

.ship {
    display: flex;
    gap: .1rem;

    &--sunk .square {
        opacity: var(--opacity);
        background-color: var(--clr-medium-gray) !important;
    }
}

.square {
    aspect-ratio: 1;
    height: 1.25rem;
}

#player-ships .square {
    background-color: var(--clr-green);
}

#computer-ships .square {
    background-color: var(--clr-red);
}

.transparent {
    opacity: var(--opacity);

    .cell {
        opacity: var(--opacity);

        &:hover {
            cursor: default;
            border-color: var(--clr-medium-gray);
        }
    }

    .ships .ship .square {
        opacity: var(--opacity);
    }
}

.button {
    cursor: pointer;
    padding: .5rem 1.5rem;
    font-size: 1rem;
}